{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 90,
        "tabWidth": 4,
        "useTabs": true,
        "singleQuote": true,
        "bracketSpacing": false,
        "explicitTypes": "always"
      }
    }
  ],
  "semi": false,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 90,
  "useTabs": true,
  "arrowParens": "avoid"
}
